<!-- Navegation -->
<aside class="menu" role="navigation">

  <a onclick="menu()" class="close__menu">
    <img src="{{site.url}}/assets/images/close.svg" alt="{{site.title}} : Close menu">
  </a>

  <ul class="menu__content">

    <li class="menu__item">
      <a href="{{site.url}}">Home</a>
    </li>

    <li class="menu__item">
      <a href="{{site.url}}">Leaderboard</a>
    </li>

    <li class="menu__item">
      <a href="{{site.url}}">Prizes</a>
    </li>

    <li class="menu__item">
      <a href="{{site.url}}">F.A.Q</a>
    </li>

    <li class="menu__item">
      <a href="{{site.url}}">Official Rules</a>
    </li>

  </ul>

  <footer class="menu__footer mb-3">
    <small> &copy; 2007-2018 Spotify AB</small>
  </footer>

</aside>
