<!-- LEADERBOARD -->
<section class="e-container-fluid centered e-fullheight bg bg__3">

  <div class="e-container text-center">
    <div class="content">
      <h3 class="size-3 text-normal text-white w-100 mt-1">LEADERBOARD</h3>
      <p class="look text-white">Share your playlist everywhere to get the most followers!</p>
      <button type="button" class="e-btn plus rounded outlined spotify-trans my-2">
        FILTER <img style="width:14px;margin-left:5px;" src="{{site.url}}/assets/images/arrow_down.svg" />
      </button>
    </div>

    <div class="e-cols no-gap centered">
      <div class="e-col-6 m-auto">

        <ul class="e-list no-border">
          <ul class="list__nav">
            <li class="list__nav__item no__mobile active">How This Week</li>
            <li class="list__nav__item list__item__mobile__gap">All Time</li>
          </ul>

          <li class="e-list-item mt-3 no-border">
            <div class="playlist">

              <div class="count mr-3">
                <i class="number mb-3 pb-3">1</i>
                <img src="{{site.url}}/assets/images/arrow_green_up.svg" alt="{{site.title}} : Arrow-down" style="max-width:20px;">
                <i class="text__success">+3</i>
              </div>

              <div class="e-media">
                <div class="list__image">
                  <img class="list__image__item mr-3" src="{{site.url}}/assets/images/the_boat_club.png">
                  <img class="play" src="{{site.url}}/assets/images/play.svg" alt="" style="max-width:20px;">
                </div>

                <div class="e-media-body">
                  <div class="align-start">
                    <h5 class="no-my">The Boat Club</h5>
                    <p class="w-100 text-left no-m look">Oxford Brookes</p>
                    <p class="e-tag rounded static play-tag">GO TO PLAYLIST</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="e-list-item">
            <div class="playlist">

              <div class="count mr-3">
                <i class="number mb-3 pb-3">2</i>
                <img src="{{site.url}}/assets/images/arrow_red_down.svg" alt="{{site.title}} : Arrow-down" style="max-width:20px;">
                <i class="text-danger">-1</i>
              </div>

              <div class="e-media">
                <div class="list__image">
                  <img class="list__image__item mr-3" src="{{site.url}}/assets/images/curc.png">
                  <img class="play" src="{{site.url}}/assets/images/play.svg" alt="" style="max-width:20px;">
                </div>

                <div class="e-media-body">
                  <div class="align-start">
                    <h5 class="no-my">CURC</h5>
                    <p class="w-100 text-left no-m look">Cardiff University</p>
                    <p class="e-tag rounded static play-tag">GO TO PLAYLIST</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="e-list-item">
            <div class="playlist">

              <div class="count mr-3">
                <i class="number mb-3 pb-3">3</i>
                <img src="{{site.url}}/assets/images/dot_yellow.svg" alt="{{site.title}} : Arrow-down" style="max-width:20px;">
              </div>

              <div class="e-media">
                <div class="list__image">
                  <img class="list__image__item mr-3" src="{{site.url}}/assets/images/projectd.png">
                  <img class="play" src="{{site.url}}/assets/images/play.svg" alt="" style="max-width:20px;">
                </div>

                <div class="e-media-body">
                  <div class="align-start">
                    <h5 class="no-my">ProjectD</h5>
                    <p class="w-100 text-left no-m look">University of York</p>
                    <p class="e-tag rounded static play-tag">GO TO PLAYLIST</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <span class="e-list-item"></span>
        </ul>
      </div>
    </div>
  </div>
</section>
