<!-- HOW IT WORKS -->
<section class="e-face e-fullheight bg bg__2">

  <!-- Navegation Fixed -->
  <nav id="navbar" class="e-nav navbar__trans px-2 py-3">
    <img class="navbar__brand unselected" src="{{site.url}}/assets/images/spotify_logo.svg" alt="Spotify {{site.title}} : Logo">
    <a class="menu__bars no__transition centered" onclick="menu()">
      MENU <img class="no__transition" src="{{site.url}}/assets/images/menu.svg" alt="{{site.title}} : Menu">
    </a>
  </nav>

  <!-- Content -->
  <div class="face-body centered">
    <div class="e-container">
      <h3 class="size-3 text-normal text-white w-100">HOW IT WORKS</h3>

      <div class="e-cols mt-1">
        <div class="e-col works__item">
          <img class="unselected" src="{{site.url}}/assets/images/create.svg" alt="{{site.title}} : Create">
            <h4 class="text-normal my-3">1. CREATE</h4>
          <p class="look">15-track playlist that defines your student life.</p>
        </div>

        <div class="e-col works__item">
          <img class="unselected" src="{{site.url}}/assets/images/register.svg" alt="{{site.title}} : Register">
            <h4 class="text-normal my-3">2. REGISTER</h4>
          <p class="look">Your playlist on Sound Clash using your Spotify username and password.</p>
        </div>

        <div class="e-col works__item">
          <img class="unselected" src="{{site.url}}/assets/images/share.svg" alt="{{site.title}} : Share">
            <h4 class="text-normal my-3">3. SHARE</h4>
          <p class="look">your playlist and get followers. Gain 25 followers to get your Spotify Prize Pack.
            The owners of the 5 most-followed playlists overall will interview for the internship.</p>
        </div>

      </div>

      <div class="content text-white">
        <button type="button" class="e-btn plus inverted rounded no-border text-uppercase" style="color:#1d3164 !important;">
          Get started
        </button>
        <p>Need more info? Check out our <strong>FAQ.</strong></p>
      </div>

    </div>
  </div>

  {% include arrow-down.html%}
</section>
<!-- End -->
