<!-- Main section -->
<main class="e-face e-fullheight bg bg__1">

  <!-- Main Header -->
  <header class="main__menu__bars">
    <a class="menu__bars centered" onclick="menu()">
      MENU <img src="{{site.url}}/assets/images/menu.svg" alt="{{site.title}} : Menu">
    </a>
  </header>

  <!-- Main content -->
  <div class="face-body">
    <div class="e-container centered">

      <div class="box">
        <img class="spotify__logo mb-3 unselected" src="{{site.url}}/assets/images/spotify_logo.svg" alt="Spotify {{site.title}} : Logo">
        <img class="soundclash__logo unselected" src="{{site.url}}/assets/images/soundclash_logo.svg" alt="{{site.title}} : Logo">

        <div class="maple unselected">
          <i class="maple__line"></i>
            <img class="maple__img" src="{{site.url}}/assets/images/maple.png" alt="{{site.title}} : Maple">
          <i class="maple__line"></i>
        </div>

        <div class="spotify__info">
          <h5>Think you can build the ultimate playlist?</h5>
          <p>You could win an exclusive internship at Spotify Canada, plus weekly prize packs,
            free Premium and tickets to summer concerts & festivals!</p>

          <div class="e-buttons centered">
            <button type="button" class="e-btn plus inverted rounded no-border black">
              GET STARTED
            </button>
            <button type="button" class="e-btn plus rounded outlined spotify-trans">
              HOW IT WORKS
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% include arrow-down.html%}
</main>
<!-- End main -->
