<!DOCTYPE html>
<!--
 * Efrain Peralta (https://efraax.github.io/es/)
 * Copyright 2018 Efrain Peralta
-->
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{site.title}}</title>
    <!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/efrolic/dist/css/efrolic.min.css">
    <link rel="stylesheet" href="{{site.url}}/assets/fonts/MyFontsWebfontsKit/MyFontsWebfontsKit.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/styles.css">
  </head>

  <body class="eFade">
    {{content}}
    <!-- Javascript -->
    <script type="text/javascript" src="{{site.url}}/assets/js/main.js"></script>
    <script>
        window.onscroll = function() {navbarFunction()};

        var navbar = document.getElementById("navbar");
        var fixed = navbar.offsetTop;

        function navbarFunction() {

          if (window.pageYOffset >= fixed) {
            navbar.classList.add("fixed")
          }
          else {
            navbar.classList.remove("fixed");
          }
        }
    </script>
  </body>
</html>
