/*!
 * Efrain Peralta (https://efraax.github.io/es/)
 * Copyright 2018 Efrain Peralta
 */
.menu {
  top: 0;
  bottom: 0;
  right: -16rem;
  display: flex;
  z-index: 10000;
  overflow: auto;
  position: fixed;
  background: white;
  flex-direction: column;
  padding: 0 2.5rem;
  width: 16rem;
  transition: right 0.3s ease-in;
}

.menu.show__menu {
  right: 0;
}

.close__menu {
  width: 1.25rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}

.menu__content {
  flex-grow: 1;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.menu__item {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: .30rem 0;
}

.menu__item,
.menu__item a {
  font-weight: 600;
  letter-spacing: .3px;
  display: block;
  color: #1a1a1a;
}

.e-face {
  min-width: 320px;
}

.face-body {
  text-shadow: none !important;
}

.menu__bars {
  letter-spacing: .3px;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.menu__bars img {
  width: 1.5rem;
  margin-left: 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .menu__bars {
    padding: 3rem;
  }
}

.menu__bars.show__menu {
  visibility: hidden;
}

.main__menu__bars {
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (min-width: 1024px) {
  .main__menu__bars .menu__bars {
    position: absolute;
    right: 0;
  }
}

.box {
  align-items: center;
  flex-direction: column;
}

.spotify__logo {
  width: 10rem;
}

.soundclash__logo {
  width: 35rem;
}

.maple {
  align-items: center;
  margin: 1.5625rem auto;
}

.maple__line {
  width: 50px;
  display: block;
  height: 1.2px;
  background: white;
}

.maple__img {
  margin: 0 .5rem;
  width: 35px;
}

@media only screen and (min-width: 1024px) {
  .maple__img {
    width: 50px;
  }
}

.spotify__info {
  color: white;
  font-weight: 100;
  font-size: 1.1rem;
  max-width: 800px;
  letter-spacing: .5px;
}

.spotify-trans {
  background-color: transparent !important;
  color: white !important;
  border-width: 2px;
}

.navbar__brand {
  width: 100px;
  transition: none;
}

@media only screen and (min-width: 1024px) {
  .navbar__brand {
    width: 130px;
  }
}

.navbar__trans {
  background: rgba(255, 255, 255, 0.2) !important;
  visibility: hidden;
  position: absolute;
}

.navbar__trans .menu__bars {
  padding: 0;
}

.fixed {
  position: fixed;
  top: 0;
  visibility: visible;
}

.works__item {
  color: white;
  font-weight: normal;
  text-shadow: none !important;
}

.works__item img {
  width: 40px;
}

.works__item:not(:last-child):not(:first-child) {
  padding: 3rem 0;
  margin: 3rem 0;
  border: solid 1.5px rgba(255, 255, 255, 0.7);
  border-left: none;
  border-right: none;
  height: 100%;
}

@media only screen and (min-width: 1024px) {
  .works__item:not(:last-child):not(:first-child) {
    padding: 0 1rem;
    margin: 0 1rem;
    border: solid 1.5px rgba(255, 255, 255, 0.7);
    border-top: none;
    border-bottom: none;
  }
}

.e-list-item {
  background: transparent !important;
  border-color: white !important;
  color: white;
}

.count {
  width: 20px !important;
  flex-direction: column;
}

.play {
  position: absolute;
  bottom: 25px;
  margin-left: 15px;
}

.list__image__item {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
}

@media only screen and (min-width: 1024px) {
  .list__image {
    margin-right: 15px;
  }
}

.number {
  border-bottom: solid 1px #c8cacd;
}

.text__success {
  color: #5ff550 !important;
  margin-top: .2px;
}

@media only screen and (max-width: 1024px) {
  .no__mobile {
    display: none !important;
  }
}

.list__nav {
  border-bottom: solid 1px white;
}

.list__nav__item {
  padding: 0.5rem 2rem;
  color: white;
  border-bottom: solid 3px transparent;
}

.list__nav__item.active {
  font-weight: bold;
  font-size: 1.25rem;
  background: transparent !important;
  border-bottom-color: white;
}

@media only screen and (max-width: 1024px) {
  .list__item__mobile__gap {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}

* {
  transition: all 0.3s;
}

body {
  font-family: ProximaNovaA-Light;
  font-weight: normal;
  font-style: normal;
  transition: margin-right 0.3s ease-in;
}

body.show__menu:not(.menu) {
  margin-right: 16rem;
}

.unselected {
  user-select: none;
  pointer-events: none;
}

.bg__1 {
  background: url("../images/background1.jpg");
}

.bg__2 {
  background: url("../images/background2.jpg");
}

.bg__3 {
  background: url("../images/background3.jpg");
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
}

.arrow__down {
  padding: 2rem 0;
}

.arrow__down img {
  width: 2rem;
}

.no__transition {
  transition: none;
}

.main__menu__bars, .box, .maple, .playlist, .count, .list__nav {
  display: flex;
}
