.menu {

  top             : 0;
  bottom          : 0;
  right           : -$width-menu;
  display         : flex;
  z-index         : 10000;
  overflow        : auto;
  position        : fixed;
  background      : white;
  flex-direction  : column;
  padding         : $menu-gap;
  width           : $width-menu;
  transition      : right $time ease-in;

  &.show__menu{
    right: 0;
  }

}

.close__menu {

  width           : 1.25rem;
  position        : absolute;
  right           : $close-menu-gap;
  top             : $close-menu-gap;
  cursor          : pointer;

}

.menu__content {

  flex-grow       : 1;
  margin-top      : 4rem;
  display         : flex;
  flex-direction  : column;

}

.menu__item {

  text-transform  : uppercase;
  font-size       : 1.25rem;
  padding         : .30rem 0;

  &,
  & a{

    font-weight   : 600;
    letter-spacing: .3px;
    display       : block;
    color         : lighten(black, 10%);
  }
}
