// Navbar
.navbar__brand{
    width                                      : 100px;
    transition                                 : none;
  @media only screen and (min-width: 1024px)   {
    width                                      : 130px;
  }
}
.navbar__trans{
  background                                   : rgba(255,255,255,.2) !important;
  visibility                                   : hidden;
  position                                     : absolute;

  & .menu__bars{
    padding                                    : 0;
  }
}

.fixed {
  position                                     : fixed;
  top                                          : 0;
  visibility                                   : visible;
}

.works__item {
  color                                        : $font-color;
  font-weight                                  : normal;
  text-shadow                                  : none !important;
  img {
    width                                      : 40px;
  }

  &:not(:last-child):not(:first-child){
    padding                                    : 2 + $default-gap 0;
    margin                                     : 2 + $default-gap 0;
    border                                     : $works-item-border;
    border-left                                : none;
    border-right                               : none;
    height: 100%;
    @media only screen and (min-width: 1024px) {
    padding                                    : 0 $default-gap;
    margin                                     : 0 $default-gap;
    border                                     : $works-item-border;
    border-top                                 : none;
    border-bottom                              : none;
    }
  }
}
