.e-list-item{
  background                          : transparent !important;
  border-color                        : $font-color !important;
  color                               : $font-color;
}

.playlist{
  @extend %flex;
}
.count{

  width                               : 20px !important;
  @extend %flex;
  flex-direction                      : column;
}

.play{
  position                            : absolute;
  bottom                              : 25px;
  margin-left                         : 15px;
}

.list__image__item {
  min-width                           : $list-image-item-gap;
  min-height                          : $list-image-item-gap;
  max-width                           : $list-image-item-gap;
}
.list__image {
  @media only screen and (min-width: 1024px) {
    margin-right                      : 15px;
  }
}

.number{
  border-bottom                       : solid 1px #c8cacd;
}

.text__success{
  color                               : #5ff550 !important;
  margin-top                          : .2px;
}

.no__mobile {
  @media only screen and (max-width: 1024px){
    display                           : none !important;
  }
}

.list__nav{
  @extend %flex;
  border-bottom                       : solid 1px $font-color;
}
.list__nav__item {
  padding                             : .5rem $default-gap + 1;
  color                               : $font-color;
  border-bottom                       : solid 3px transparent;

  &.active{
    font-weight                       : bold;
    font-size                         : $default-gap + .25;
    background                        : transparent !important;
    border-bottom-color               : $font-color;
  }
}



.list__item__mobile__gap{
  @media only screen and (max-width: 1024px){
    width                             : 100%;
    text-transform                    : uppercase;
    font-size                         : $default-gap + .5;
  }
}
