.e-face {
  min-width             : $breckpoint-sm;
}

.face-body {
  text-shadow           : none !important;
}

.menu__bars {
  letter-spacing        : .3px;
  color                 : $font-color;
  cursor                : pointer;
  padding               : $default-gap;

  img {
    width               : $default-gap + .5;
    margin-left         : $default-gap - .5;
  }
  @media only screen and (min-width: 1024px){
    padding             : $default-gap + 2;
  }

  &.show__menu {
    visibility          : hidden;
  }
}

.main__menu__bars {
@extend %flex;
flex-direction          : column;
align-items             : flex-end;

@media only screen and (min-width: 1024px){
  & .menu__bars {
    position            : absolute;
    right               : 0;
  }
}
}

.box {
  @extend %flex;
  align-items           : center;
  flex-direction        : column;
}

.spotify__logo {
  width                 : $width-logo;
}

.soundclash__logo {
  width                 : $width-logo + 25;
}

.maple {

  @extend %flex;
  align-items           : center;
  margin                : 1.5625rem auto;
}

.maple__line {

  width                 : 50px;
  display               : block;
  height                : 1.2px;
  background            : $font-color;
}

.maple__img {
  margin                : 0 .5rem;
  width                 : 35px;
  @media only screen and (min-width: 1024px){
  width                 : 50px;
  }
}

.spotify__info {
  color                 : $font-color;
  font-weight           : 100;
  font-size             : $default-gap + .1;
  max-width             : 800px;
  letter-spacing        : .5px;
}

.spotify-trans {
  background-color      : transparent !important;
  color                 : $font-color !important;
  border-width          : 2px;
}
