// Variables
$font-family           : ProximaNovaA-Light;
$font-color            : white;
$default-gap           : 1rem;
$width-logo            : $default-gap + 9;

// MENU
$width-menu            : $default-gap + 15;
$menu-gap              : 0 $default-gap + 1.5;
$close-menu-gap        : $default-gap + 1;

//Transition time
$time                  : .3s;

// Arrow-down
$arrow-down-gap        : $default-gap + 1;


// Page 1
$breckpoint-sm         : 320px;

//works-item
$works-item-border     : solid 1.5px rgba(255,255,255,.7);

// Page 3
$list-image-item-gap   : 100px;
