/*!
 * Efrain Peralta (https://efraax.github.io/es/)
 * Copyright 2018 Efrain Peralta
 */

@import 'imports';

* {
  transition            : all $time;
}

body {

  font-family           : $font-family;
  font-weight           : normal;
	font-style            : normal;
  transition            : margin-right $time ease-in;

  &.show__menu:not(.menu){
    margin-right        : $width-menu;
  }
}

.unselected {
  user-select           : none;
  pointer-events        : none;
}

@mixin bg($path) {
  background            : url($path);
}

.bg {
  @for $i from 1 through 3 {
    &__#{$i} {
      @include bg("../images/background#{$i}.jpg");
    }
  }
}

.bg {
  background-repeat     : no-repeat;
  background-position   : center;
  background-attachment : fixed;
  background-size       : cover;
  height                : auto;
}

.arrow__down {
  padding               : $arrow-down-gap 0;
  img {
    width               : $arrow-down-gap;
  }
}

.no__transition {
  transition            : none;
}

%flex {
  display: flex;
}
